node_modules/
dist/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store

# Environment files
.env
.env.*
!.env.example

# IDE files
.vscode/
.idea/

# Build cache
.cache/
coverage/
